.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
}

.jScrollPaneDrag {
	position: absolute;
	background: #630;
	cursor: pointer;
	overflow: hidden;
	width: 10px;
}

.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 15px;
	background-image: url(../images/arrow-up-trans.png);
	background-repeat: no-repeat;
}

a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 15px;
	background-image: url(../images/arrow-down-trans.png);
	background-repeat: no-repeat;
}

a.jScrollArrowDown:hover {

}

a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {

}
