body {
  color: #630;
  background: #FFD183 url(../images/background.png);
}

a,
a:hover,
a:active,
a:visited {
  color: #630;
}

a:hover,
a:active {
  color: #c60;
}

hr.space {
  background-color:transparent;
  border-color:transparent;
  visibility:hidden;
}

#wrapper {
  width: 967px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background: transparent url(../images/background.jpg) no-repeat top center;
}

#header h1 {
  float: left;
  overflow: hidden;
  margin: 0;
  margin-right: 10px;
  width: 425px;
  height: 160px;
}

#header h1 a {
  display: block;
  padding-top: 200px;
  height: 0;
}

#message-board {
  float: left;
  width: 280px;
  height: 100px;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
}

#message-board h3 {
  padding-top: 25px;
  height: 0;
  margin: 0;
  overflow: hidden;
}

#address-navigation-wrapper {
  margin-left: 150px;
}

#address {
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#address img {
  vertical-align: middle;
}

#navigation ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

#navigation ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

#navigation ul li a {

}

#navigation ul li.active a {
  color: #c60;
}

#content {
  height: 360px;
  width: 967px;
}

#content-text {
  padding: 0 30px;
  width: 740px;
  height: 360px;
  float: left;
  overflow: hidden;
}

#content-text.homepage,
#content-text.flatpage-embeds,
#content-text.menu-images {
  width: 290px;
}

.jScrollPaneContainer {
  float: left;
  margin-right: 25px;
}

#content-slideshow {

}

.embed {
  width: 450px;
  float: left;
}

#menus li {
  font-size: 1.25em;
}

#menus li a {
  text-decoration: none;
}

#footer {
  margin: 95px 0 0 0;
  padding-left: 30px;
}

.footer-content {
  float: left;
  width: 225px;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.footer-content ul li {
  margin: 0;
  padding: 0;
}

.footer-content a {
  text-decoration: none;
}

#footer-content-1 {
  width: 250px;
}

#footer-content-2,
#footer-content-3 {
  width: 160px;
}

#footer-content-4 {
  width: 340px;
  background: url(../images/map-trans.png) no-repeat top right;
}

/* @group Tabs */

#tabs-container {
  margin: 0 !important;
  background-color: transparent;
  border: none;
}

.images-frame {
  background: none !important;
}

/* @end */