.shop-divider {
  background-color:transparent;
  border-color:transparent;
  visibility:hidden;
}

.shop-item {
  background-color:#FFFEE0;
  border:1px solid #7D6A55;
  float:left;
  margin-left:9px;
  margin-right:9px;
  margin-bottom: 10px;
  padding-top:10px;
  text-align:center;
  width:210px;
}